body {
    font-family: fantasy,sans-serif;
    background-color: #181A1B;
    color: #e8e6e3;
}

img {
    width: 200px;
    transition: all 1s ease;
}

input {
    text-decoration: none;
    outline: none;
    border: none;
}

a {
    color: rgb(51, 125, 255);
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div#loginDiv {
    margin: 0 auto;
    text-align: center;
}

div.container table {
    margin: 0 auto;
}

form, div.title {
    text-align: center;
    padding: 10px;
}

div#loginDiv span {
    color: green;
    text-decoration: underline;
    font-size: 18px;
}

input#start {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: 1px solid;
    cursor: pointer;
}

input#start:hover {
    background-color: #181A1B;
    color: #e8e6e3;
}

input#loginSubmit:hover {
    background-color: #181A1B;
    color: #e8e6e3;
    border: 1px solid #e8e6e3;
}

img:hover {
    transform: translateY(-10%);
    transition: all 1s ease;
}